@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

.paypic {
    width: 100%;
    height: 100%;
    position: fixed;
    left:0;
    filter: blur(5px);
  -webkit-filter: blur(3px);
  background-image:  url(https://electrek.co/wp-content/uploads/sites/3/2022/01/Tesla-hero-Model-3-Y-S.jpg?quality=82&strip=all);
  background-size: cover;
  }
  .payment-form-container #close-payment-form{
    position:absolute;
    top: 1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor:pointer;
}
  .payment-form-container #money{
    position: relative;
    z-index:0;
}

.payment-form-container #money::before{
    content:'';
    position:absolute;
    top:0;left:0;
    height:100%;
    width:100%;
    z-index:-1;
    background: var(--yellow);
    clip-path:polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

  .paycar {
    text-align:center;
    font-size:  2.8rem;
    color: #fff;
    position:relative;
    overflow: hidden;
    font-weight: bolder;
    font-style:'Poppins',sans-serif;
    padding-top: 2.0rem;
}

  .btnnn {
    display:inline-block;
    margin-top:2rem;
    position: absolute;
    right: 400px;
    border-radius: .5rem;
    background: var(--light-yellow);
    color:var(--black);
    font-weight:500;
    font-size:1.7rem;
    cursor:pointer;
    padding:.8rem 3rem;
}

.btnnn:hover{
    background:var(--yellow);
}

.payment-form-container{
    position:fixed;
    top:0; left:0;
    z-index:1000;
    height:100%;
    width:100%;
    background:rgba(255,255,255,.8);
    display:flex;
    align-items:center;
    justify-content: center;
    opacity: 100%;
}

.payment-form-container form{
    padding:2rem;
    margin:2rem;
    border-radius:.5rem;
    box-shadow: var(--box-shadow);
    background:#fff;
    border:var(--border);
    text-align:center;
    width:40rem;
}

.payment-form-container form .buttons{
    display: flex;
    align-items:center;
    gap:1rem;
}

.payment-form-container form .btnnn{
    display: block;
    width:100%;
    margin:.5rem 0;
}

.payment-form-container form h10{
    color:var(--black);
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.payment-form-container form .box1{
    margin:.7rem 0;
    width: 100%;
    text-transform: none;
    color: var(--black);
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    border:var(--border);
    border-radius: .5rem;
}

::placeholder {
    color: rgb(2, 2, 2);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
}

.payment-form-container form p{
    padding:1rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.payment-form-container form p a{
    color: var(--yellow);
    text-decoration: underline;
}