body {
    margin: 0;
    padding: 0;
    background: url(/Users/zhantingtoh/TeslaRentals/teslarentals/public/images/img-1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    color: rgb(172, 16, 16);
    top : 150px;
    left: 950px;
    position: absolute;
    border-radius: 10px;
    padding: 20px;
}

.loginbox input {
    width: 200px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top:none;
    border-right:none;
    border-left:none;
    color: rgb(227, 93, 93);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.loginbox input:focus {
    outline:none;
}

::placeholder {
    color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.loginbox h2 {
    width: 200px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color:#fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.butts {
    width: 200px;
    height: 40px;
    background: #ff7720;
    border: none;
    margin-top:30px;
    font-size:18px;
    border-radius:10px;
    cursor: pointer;
    color:#fff;
    transition: 0.4s ease;
}

.butts:hover {
    background: #fff;
    color: #ff7200;
}

.butts a {
    text-decoration: none;
    color: #000;
}

.okay {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
